<div>
	<div class="">
		<h2 class="text-black/70 font-bold">#Завантаження користувачів</h2>
		<app-feedback
			class="my-4 bg-violet-100"
			iconClass="fa-regular fa-circle-info"
			text="Тут ви можете завантажити нових користувачів <strong>ЄПрофіспілки</strong>. Зверніть
			увагу ви можете зробити це більш зручно та практично для вас! Мо додали деякі
			налаштування, зверніть увагу на них. Це може полегшити вам роботу."
		></app-feedback>
	</div>
	<div class="flex">
		<form [formGroup]="form" class="text-xl w-96" (ngSubmit)="uploadFile()">
			<div class="flex flex-col">
				<label>Виберіть тип імпорту:</label>
				<app-select
					class="ml-10 my-2"
					placeholder="Тип імпорту"
					[options]="importOptions"
					[controlName]="'importType'"
				></app-select>
				<span
					[hidden]="!selectedImportTypeDescription"
					class="text-black/40 font-light text-sm mb-4"
					><i class="fa-light fa-circle-info"></i>
					{{ selectedImportTypeDescription }}</span
				>
			</div>
			<div class="my-4">
				<div class="flex">
					<label>Змінити курс: </label>
					<app-question-tooltip
						tooltipText="Якщо ви обираєте цей параметр, для всіх користувачів буде збільшено курс на 1"
					></app-question-tooltip>
				</div>
				<input type="checkbox" class="h-6 w-6 ml-10" formControlName="changeCourse" />
			</div>
			<div class="w-auto">
				<label>Виберіть файл який хочете завантажити:</label>
				<div class="block ml-10 mt-2">
					<app-file-input-field
						placeholder="Виберіть файл"
						[controlName]="'importFile'"
					></app-file-input-field>
				</div>
			</div>
			<app-button type="secondary" [disabled]="" classStyles="w-auto px-4 my-6"
				>Завантажити</app-button
			>
		</form>
		<div
			class="ml-40 bg-gray-100 text-gray-700 min-h-min border-gray-700 border rounded-standart px-8 py-4 w-96"
		>
			<app-import-report></app-import-report>
		</div>
	</div>
</div>
