@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }
}

.editor {
    all: unset;
}

.editor a {
    color: #0026F3;
    text-decoration: underline;
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #f7f4ed;
    }

    ::-webkit-scrollbar-thumb {
        background: #e0cbcb;
        border-radius: 100vh;
        border: 3px solid #f6f7ed;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #c0a0b9;
    }
}

.default-app-logo-resolution {
    max-width: 228px;
    max-height: 128px;
    height: auto;
}
