<ng-container *ngIf="loading$ | async; else discountsTemplate">
	<app-loader></app-loader>
</ng-container>
<ng-template #discountsTemplate>
	<ng-container *ngIf="discounts$ | async as discounts">
		<ng-container *ngIf="discounts.length === 0; else discountsBody">
			<ng-container [ngTemplateOutlet]="empty"></ng-container>
		</ng-container>
		<ng-template #discountsBody>
			<div class="">
				<div class="flex w-full justify-end">
					<app-button classStyles="px-5" (onClick)="handleModal(true)"
						>Додати знижки</app-button
					>
				</div>
				<div class="h-5/6 overflow-y-auto w-full flex flex-col mt-3">
					<div
						*ngFor="let item of discounts"
						class="rounded-standart p-4 relative border mb-4"
					>
						<header class="flex items-center py-2 border-b justify-between">
							<h1 class="text-xl font-bold text-black/60 pr-6">{{ item.name }}</h1>
							<div class="flex items-center">
								<h3
									class="w-fit p-2"
									[ngClass]="
										item.isOpen
											? 'border-primary rounded-standart border-2 text-primary'
											: 'border-green-600 rounded-standart border-2 text-green-600'
									"
								>
									{{
										item.isOpen
											? 'Відкрита для всіх студентів'
											: 'Відкрита тільки для членів профспілки'
									}}
								</h3>
								<app-icon-button
									(handleClick)="delete(item.id)"
									icon="fas fa-trash text-red-500"
									className=""
								></app-icon-button>
							</div>
						</header>
						<h5 class="mt-4 text-xl text-black/50">Опис:</h5>
						<p class="text-lg mt-2">{{ item.description }}</p>
					</div>
				</div>
			</div>
		</ng-template>
	</ng-container>
</ng-template>

<ng-template #empty>
	<div class="w-full h-full grid place-items-center">
		<div>
			<h1 class="text-2xl text-center font-bold mb-5">
				На сайті ще відсутні знижки, додайте їх та почніть тусу!
			</h1>
			<app-button classStyles="px-5" (onClick)="handleModal(true)">Додати знижки</app-button>
		</div>
	</div>
</ng-template>

<app-modal *ngIf="open" (close)="handleModal()">
	<div class="w-[500px] h-fit p-4">
		<h1 class="text-center text-2xl font-bold">Додати купон на знижку</h1>
		<div>
			<app-text-field
				placeholder="Введіть назву знижки"
				classStyles="my-2"
				[(value)]="name"
			></app-text-field>
			<app-text-field
				placeholder="Введіть кодове слово"
				classStyles="mb-2"
				[(value)]="codeWord"
			></app-text-field>
			<select
				[(ngModel)]="isOpen"
				class="text-xl mb-2 w-full border px-2 py-1 h-12 focus-visible:outline-none rounded-standart"
			>
				<option value="1">Відкрита для всії</option>
				<option value="0">Обмежений доступ</option>
			</select>
			<textarea
				placeholder="Введіть опис знижки"
				rows="4"
				[(ngModel)]="description"
				class="text-xl mb-2 py-3 w-full border px-2 focus-visible:outline-none rounded-standart"
			>
			</textarea>

			<app-button
				(onClick)="handleSubmit()"
				[disabled]="name.trim() === '' || description.trim() === '' || isOpen === null"
				>Створити</app-button
			>
		</div>
	</div>
</app-modal>
