<div class="border rounded-standart p-5 mb-4">
	<ng-container *ngIf="!isEdit; else editTemplate">
		<div class="relative">
			<h1 class="font-bold text-2xl mr-8">{{ question.questionText }}</h1>
			<app-icon-button
				class="absolute top-1 right-1"
				icon="fa-solid fa-pen-to-square"
				(handleClick)="changeMode()"
			></app-icon-button>
		</div>
		<div>
			<div class="mt-3" [innerHTML]="question.answer"></div>
		</div>
	</ng-container>
	<ng-template #editTemplate>
		<div class="relative">
			<div class="relative">
				<div class="w-11/12 mt-4">
					<app-text-field
						[(value)]="questionText"
						classStyles="h-10"
						placeholder="Введіть питання..."
						[defaultValue]="questionText"
					></app-text-field>
				</div>
				<app-icon-button
					class="absolute top-3 right-3"
					[icon]="!isEdit ? 'fa-solid fa-pen-to-square' : 'fa-solid fa-xmark'"
					(handleClick)="changeMode()"
				></app-icon-button>
			</div>
			<app-icon-button
				class="absolute bottom-14 right-3"
				icon="fa-solid fa-trash text-red-500"
				(handleClick)="delete()"
			></app-icon-button>
			<app-icon-button
				class="absolute bottom-3 right-3"
				icon="fa-solid fa-check text-lime-500"
				(handleClick)="save()"
			></app-icon-button>
			<div>
				<div class="w-11/12 mt-2">
					<app-editor rows="4" [(value)]="answer"></app-editor>
				</div>
			</div>
		</div>
	</ng-template>
</div>
