<ng-container *ngIf="(loading$ | async) === false; else loading">
    <app-moderation-header buttonLabel="Додати нове питання" (handleAdd)="handleOpenModal()"></app-moderation-header>

    <!-- Questions -->
    <div class="h-fit w-full pt-10">
        <app-question *ngFor="let item of questions$ | async" [question]="item"></app-question>
    </div>

    <!-- New question form -->
    <p-dialog header="Створіть нове питання!" [(visible)]="modal" [modal]="true" [style]="{width: '50vw'}"
        (onHide)="handleCloseModal()">
        <div class="w-11/12 mx-auto" [formGroup]="questionForm">
            <div class="mb-3">
                <input pInputText placeholder="Введіть саме питання..." class="w-full" formControlName="questionText"
                    [ngClass]="{'border-red-500': questionForm.get('questionText').invalid && questionForm.get('questionText').touched}" />
                <small *ngIf="questionForm.get('questionText').invalid && questionForm.get('questionText').touched"
                    class="text-red-500">
                    Поле питання є обов'язковим.
                </small>
            </div>
            <div class="mb-3">
                <app-editor placeholder="Введіть відповідь на питання..." controlName="answer" [mode]="'simple'"
                    [isInvalid]="questionForm.get('answer').invalid && questionForm.get('answer').touched"></app-editor>
                <small
                    *ngIf="questionForm.get('answer').invalid && questionForm.get('answer').touched"
                    class="text-red-500">
                    Поле відповіді є обов'язковим.
                </small>
            </div>
            <p-button label="Зберегти 😉" (onClick)="create()" styleClass="my-5 w-full"
                [disabled]="this.questionForm.invalid" />
        </div>
    </p-dialog>
</ng-container>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>
