<ng-container *ngIf="!controlName; else reactiveFormInput">
	<input
		[type]="type"
		[ngClass]="[
			'w-full h-12 border text-xl rounded-standart focus-visible:outline-none px-3',
			classStyles
		]"
		[placeholder]="placeholder"
		[defaultValue]="this.defaultValue"
		[(ngModel)]="value"
		(ngModelChange)="valueChange.emit(value)"
	/>
</ng-container>
<ng-template #reactiveFormInput>
	<ng-container [formGroup]="form">
		<input
			[type]="type"
			[ngClass]="[
				'w-full h-12 border text-xl rounded-standart focus-visible:outline-none px-3',
				classStyles
			]"
			[formControlName]="controlName"
		/>
	</ng-container>
</ng-template>
