@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-ukraine font-extrabold text-3xl;
    }

    h2 {
        @apply text-2xl font-ukraine font-bold;
    }

    h3 {
        @apply text-lg font-ukraine font-bold;
    }

    * {
        font-family: "e-Ukraine";
    }

}


@font-face {
    font-family: "e-Ukraine";
    font-weight: 700;
    src: url('../public/fonts/e-Ukraine/e-Ukraine-Bold.otf');
}

@font-face {
    font-family: "e-Ukraine";
    src: url('../public/fonts/e-Ukraine/e-Ukraine-Regular.otf');
}

@font-face {
    font-family: "e-Ukraine";
    font-weight: 300;
    src: url('../public/fonts/e-Ukraine/e-Ukraine-Light.otf') format('otf');
}

@font-face {
    font-family: "e-Ukraine";
    font-weight: 200;
    src: url('../public/fonts/e-Ukraine/e-Ukraine-Thin.otf') format('otf');
}

@font-face {
    font-family: "e-Ukraine";
    font-weight: 100;
    src: url('../public/fonts/e-Ukraine/e-Ukraine-UltraLight.otf') format('otf');
}

@font-face {
    font-family: "e-Ukraine";
    font-weight: 500;
    src: url('../public/fonts/e-Ukraine/e-Ukraine-Medium.otf') format('otf');
}

@font-face {
    font-family: "e-Ukraine-logo";
    src: url('../public/fonts/e-UkraineHead/e-UkraineHead-LOGO.otf') format('otf');
}


body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p:empty {
    min-height: 1em;
}


div.no-tailwind {
    all: unset;
}

.editor {
    all: unset;
}

.editor a {
    color: #0026F3;
    text-decoration: underline;
}

.no-tailwind a {
    color: #0026F3;
    text-decoration: underline;
}

.loader {
    display: inline-block;
    border: 8px solid #0026F3;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1.2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
