<fieldset [formGroup]="formGroup">
	<div class="relative w-full z-0">
		<input
			type="file"
			[formControlName]="controlName"
			id="fileInput"
			hidden
			(change)="onFileSelected($event)"
		/>
		<label
			for="fileInput"
			class="flex w-full bg-gray-200 hover:bg-gray-300 duration-150 text-gray-700 py-2 px-4 rounded-standart cursor-pointer"
		>
			<span *ngIf="!selectedFile">{{ placeholder }}</span>
			<span
				*ngIf="selectedFile"
				class="w-full mr-10 overflow-hidden whitespace-nowrap overflow-ellipsis"
			>
				{{ selectedFile.name }}
			</span>
			<span class="absolute right-4 top-2"><i class="fas fa-file"></i></span>
		</label>
	</div>
</fieldset>
