<div class="">
    <div class="flex justify-between">
        <h1 class="w-full text-2xl font-bold text-black/60">#Користувачі</h1>
        <div class="flex align-items-center">
            <app-spinner-button type="secondary" [loading]="isSpinning" classStyles="px-2 mr-2 min-w-20"
                (onClick)="export()">Експортувати</app-spinner-button>
            <app-button (onClick)="handleOpen(true)" type="primary" classStyles="px-4 w-fit flex items-center">
                <i class="fas fa-file-import mr-2"></i>
                <p>Додати</p>
            </app-button>
        </div>
    </div>
    <app-users-table></app-users-table>
</div>
