<h2 class="text-center text-3xl mb-6 font-bold">Створити подію 🎉</h2>
<app-container>
    <form [formGroup]="createEventForm" class="space-y-4">
        <div class="flex flex-col gap-2">
            <label for="title" class="font-medium">Заголовок</label>
            <input id="title" pInputText formControlName="title" placeholder="Заголовок" class="p-inputtext w-full" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="date" class="font-medium">Дата</label>
            <input id="date" pInputText type="date" formControlName="date" class="p-inputtext w-full" />
        </div>

        <div class="flex flex-col gap-2">
            <label for="shortDescription" class="font-medium">Короткий опис</label>
            <input id="shortDescription" pInputText formControlName="shortDescription" placeholder="Короткий опис"
                class="p-inputtext w-full" />
        </div>

        <div class="flex flex-col gap-2">
            <label class="font-medium">Завантажити зображення</label>
            <p-fileUpload name="images" [auto]="true" [customUpload]="false" (onSelect)="onImageSelect($event)"
                accept="image/*" chooseLabel="Оберіть файл" [multiple]="true" class="w-full">
            </p-fileUpload>

        </div>

        <div class="border border-gray-300 p-4 rounded-2xl mb-3">
            <label class="block font-medium mb-2">Опис події</label>
            <app-editor controlName="description" placeholder="Введіть опис для події"></app-editor>
        </div>


        <div class="my-4">
            <p-button label="Створити" className="mt-3" (onClick)="createEvent()" type="submit"
                [disabled]="createEventForm.invalid" class="w-full p-button-primary mt-3"></p-button>
        </div>

    </form>
</app-container>
