<div class="">
	<h1 class="text-xl text-black/50">Головна панель</h1>
	<div class="flex">
		<ng-container [ngTemplateOutlet]="users"></ng-container>
	</div>
</div>

<ng-template #users>
	<section class="rounded-standart border p-3">
		<header class="flex items-center">
			<span>
				<i class="fas fa-users mr-2"></i>
			</span>
			<h3>Користувачі</h3>
		</header>
		<div class="flex flex-col">
			<p>Всього користувачів :</p>
			<p>Активні користувачі :</p>
			<p>Не верифіковано користувачів :</p>
		</div>
	</section>
</ng-template>

<ng-template #discounts></ng-template>
